
.gradle/7.1/executionHistory/executionHistory.bin
.gradle/7.1/executionHistory/executionHistory.lock
.gradle/7.1/fileHashes/fileHashes.bin
.gradle/7.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/classes/java/main/fr/skygames/updater/Updater.class
build/libs/Updater-1.0-SNAPSHOT-all.jar
build/tmp/compileJava/previous-compilation-data.bin
src/main/java/fr/skygames/updater/Updater.java
